<div class="form-group">
  <!-- <input type="text" id="table-name" class="form-control" placeholder="생성할 테이블의 이름을 작성해주세요."> -->
  <select class="form-control" id="table-name" onchange="alter_table_event()">
    {% if tables %}
      <option value="">수정할 테이블을 선택해주세요.</option>
      {% for table in t_list%}
        <option value="{{table[0]}}">{{table[0]}}</option>
      {% endfor %}
    {% else %}
      <option value="">생성된 테이블이 존재하지 않습니다.</option>
    {% endif %}
  </select>
</div>
<div id="table" style="display: none;">
  <table class="table column-table">
    <thead>
      <tr>
        <th>Column Name</th>
        <th>Type</th>
        <th>Type 길이 값</th>
        <th>Not Null</th>
        <th>Unique</th>
        <th>PK</th>
        <th>Defaults</th>
      </tr>
    </thead>
    <tbody id="column-table-body">
    </tbody>
  </table>
  <div class="form-group text-center">
    <button type="button" class="btn btn-primary" id="row-plus">+</button>
    <button type="button" class="btn btn-danger" id="row-sub">-</button>
  </div>
  <div class="form-group text-center">
    <input type="submit" class="btn btn-primary" value="alter table" />
  </div>
</div>