<div class="container">
  <h3 class="">Connect DBMS</h3>
  <form class="" id="connect-form">
    <div class="input-block">
      <div class="form-group">
        <label for="dbms">DBMS :</label>
        <select class="form-control" id="dbms">
          <option value="oracle">Oracle</option>
          <option value="mysql">MySQL</option>
          <option value="maria">MariaDB</option>
          <option value="mongo">MongoDB</option>
        </select>
      </div>
      <div class="form-group container">
        <div class="row">
          <input type="text" class="form-control col-md-8 mr-2" id="host" name="" placeholder="hostname(IP)" />
          <input type="text" class="form-control col-md-3" id="port" name="" placeholder="port" />
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="user-id" name="" placeholder="User ID" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="user-pw" name="" placeholder="Password" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="alias" name="" placeholder="Alias" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="schema" name="" placeholder="Schema" />
      </div>
    </div>
    <div class="container text-center">
      <input type="submit" class="btn btn-primary" value="Connect" />
    </div>
  </form>
  <div class="alert alert-danger" id="alert-block" style="display: none;">
    <span id="alert-msg"></span>
  </div>
</div>
<div id="spinner-box">
  <h1 class="text-info">DBMS Connecting!</h1>
  <div class="spinner-border text-info spinner-border-lg"></div>
</div>