{% if databases %}
  
  <!--외부 접속일 경우-->
  <div class="accordion" id="accordion">
    {% for db in databases %}
      <div class="card">
        <div class="card-header">
          <button class="btn btn-link connect-schema-btn" type="button" data-toggle="collapse" data-target="#{{db}}">{{db}}</button>
        </div>
        <ul id="{{db}}" 
            {% if db_info.5 == db %}
              class="card-body collapse show" 
            {% else %}
              class="card-body collapse" 
            {% endif %}
            data-parent="#accordion" 
            style="list-style: none;"
            >
            {% for table in tables[db] %}
              <li class="table-li">{{table.0}}</li><br>
            {% endfor %}
        </ul>
        {#tables[db]#}
      </div>
      
    {% endfor %}
  </div>
  
{% else %}
  <!--내부 접속일 경우-->
  <ul class="card-body"  style="list-style: none;">
    {% for table in tables %}
      <li class="table-li">{{table.0}}</li>
    {% endfor %}
  </ul>
{% endif %}

  