amqp==5.0.6
attrs==21.2.0
bidict==0.21.2
billiard==3.6.4.0
blinker==1.4
celery==5.0.5
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cryptography==3.4.7
cx-Oracle==8.1.0
Flask==1.1.2
Flask-Mail==0.9.1
Flask-SocketIO==5.0.3
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
kombu==5.1.0
mariadb==1.0.6
MarkupSafe==1.1.1
mysql-connector-python==8.0.23
prompt-toolkit==3.0.18
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pymongo==3.11.4
PyMySQL==1.0.2
pyOpenSSL==20.0.1
python-engineio==4.2.0
python-socketio==5.3.0
pytz==2021.1
redis==3.5.3
requests==2.25.1
service-identity==21.1.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
