<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DB IDE Web App{% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block stylesheet %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    {% endblock %}
    {% block scriptblock %}
    {% endblock %}
  </head>
  <body>
    <header>
      
      {% block header %}
      {% endblock %}
      </header>
    <main>
      <div class="main-contents container">
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>

{% if get_flashed_messages() %}
  {% for message in get_flashed_messages() %}
     <script>alert("{{ message }}");</script>
  {% endfor %}
{% endif %}