{% extends "base.html" %}

{% block stylesheet %}
  {{super()}}
  <style>
    .q-height{
      min-height: 80vh;
    }
    #edit{
      min-height: 30vh;
      height: 30vh;
      max-height: 30vh;
    }
  </style>
  <!--include codemirror css-->
  <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
  <link rel="stylesheet" href="http://codemirror.net/addon/hint/show-hint.css">

  <!--부트스트랩 active 덮어쓰기-->
  <style>
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: black;
        background-color: #E9E9E9;
    }
    ul{
      list-style: none;
    }
    .access_type,.name{
      font-size: 20px;
    }
    .cost{
      font-size: 15px;
    }
  </style>
{% endblock %}

{% block scriptblock %}
<!--include codemirror js -->
<script src="http://codemirror.net/lib/codemirror.js"></script>
<script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
<script src="http://codemirror.net/addon/edit/continuecomment.js"></script>
<script src="http://codemirror.net/mode/sql/sql.js"></script>
<script src="http://codemirror.net/addon/hint/show-hint.js"></script>
<script src="http://codemirror.net/addon/hint/sql-hint.js"></script>
{% endblock %}


{% block header %}
    
    {% include 'include/_header.html' %}
    <div class="text-right">
      <!--메뉴아이콘-->
      <i class="fa fa-bars fa-2x" data-toggle="drawer" data-target="#drawer-1" aria-hidden="true"></i>
    </div>
    {% include 'include/drawers.html' %}
{% endblock %}

{% block main %}
  <div class="row container">
    <div class="col-md-4 border border-top-0 border-bottom-0 border-left-0 q-height">
      <h2>
          {% if db_info.0 == 'oracle' %}
            tablespace 리스트
          {% else %}
            테이블 리스트
          {% endif %}
      </h2>
      <div id="table-list">
        {% include 'include/table_nav.html' %}
      </div>
      
    </div>
    <div class="col-md-8 border border-top-0 border-bottom-0 border-right-0 q-height">
      <div class="border border-top-0 border-left-0 border-right-0">
        <div>
          <a href="{{ url_for('dbide.execute_query', id=id) }}" class="btn btn-primary">전공자</a>
          <a href="{{ url_for('dbide.execute_query_no_major', id=id) }}" class="btn btn-primary">비전공자</a>
        </div>
        <div class="container mt-3">
          <!--<div class="container border" id="edit" contenteditable="true" style="overflow: auto;"></div>-->
          {% if db_info.0 != 'oracle' %}
            <div class="alert alert-info" id="schema-msg">
                데이터베이스 <b class="text-dark">{{db_info.5}}</b>에 sql질의 실행
            </div>
          {% endif %}
          <!--sql editor-->
          <div class="border">
            <textarea rows="4"  cols="50" id="edit"></textarea>
          </div>
          
          <div class="mt-2 mb-2 text-right">
            <button type="button" class="btn btn-primary" id="result">결과</button>
            <button type="button" class="btn btn-primary" id="plan">실행 계획</button>
          </div>
        </div>
      </div>
      <div id="alert-box" style="height: 200px; overflow-y: auto;">

      </div>
      
      <!--탭 버튼-->
      <ul class="nav nav-tabs mt-5">
        <li class="nav-item">
            <a href="#query-result" class="nav-link active text-dark font-weight-bold" data-toggle="tab">결과</a>
        </li>
        <li class="nav-item">
            <a href="#explain" class="nav-link text-dark font-weight-bold" data-toggle="tab">실행계획</a>
        </li>
      </ul>

      <!--탭 내용-->
      <div class="tab-content">
        <!--쿼리 실행결과-->
        <div class="tab-pane fade show active" id="query-result" style="overflow:auto;">
          {% include 'include/query_result.html' %}
        </div>
        <!--실행계획-->
        <div class="tab-pane fade" id="explain">
            
        </div>
      </div>
      
    </div>
  </div>


<script src="{{ url_for('static', filename='js/explain.js') }}"></script>
<script>

$(function(){
  // document.getElementById('result').onclick = (e) => {}
});  


//에디터 초기화
var editor = initSqlEditor();
//자동완성 초기화
initAutoComplete();

$("#result").click(function(){

  $.ajax({
    type : "post",
    url : "/execute_query_result/{{id}}",
    data : {'query' : editor.getValue()},
    success : (response) => {
      $("#alert-box").empty();
      

      for(var msg of response.msg_list){
       

          if(msg.error_msg != undefined){
             createMessage(msg.error_msg,'alert-danger');
          }else{
             createMessage(msg,'alert-info');
          }
      }

      if(response.results != undefined){
        updateResult(response.results,response.tables);
        var json = JSON.parse(response.explain);
        $("#explain").show_explain(dbms="mysql",json=json);
      }
      //테이블 자동완성 초기화
      initAutoComplete();
    
    }
  });
});

/*

function mysql_explain(json,depth){
  
  Object.keys(json).forEach(function(key){

    
      if("nested_loop" == key){
        
        make_ul(
                name=key,
                depth=depth,
                access_type=null,
                cost=0
              );

      }else if(/^.+_subqueries$/.test(key)){
        
        make_ul(
                name=key,
                depth=depth,
                access_type=null,
                cost=json[key][0].query_block.cost_info.query_cost
              );

      }else if(key == "query_block"){
        
        if($("#explain ul").length==0){
          make_ul(
                  name=key,
                  depth=depth,
                  access_type=null,
                  cost=json[key].cost_info.query_cost
                  );
          mysql_explain(json[key],depth+1);
        }else{
          mysql_explain(json[key],depth);
        }
      }
      
      if(key == "table"){
      
        make_ul(
                  name=json[key].table_name,
                  depth=depth,
                  access_type=json[key].access_type,
                  cost=json[key].cost_info.eval_cost
                );
          mysql_explain(json[key],depth+1);
      } 

      if(Array.isArray(json[key])){
        
        for(var i in json[key]){
           
          mysql_explain(json[key][i],depth+1);
           
        }
      }
    
        
  });
}

function make_ul(name,depth,access_type,cost){

  access_type = (access_type == null) ? "" : access_type;
  cost = (name == "query_block") ? "query_cost:"+cost : "cost:"+cost;

  console.log("depth: "+depth)
  var ul = "";
  ul += "<ul id='depth-"+depth+"'>";
  ul += "<li>";
  ul += "<span class='text-info name'>"+name+"</span>&nbsp&nbsp";
  ul += "<span class='text-danger access_type'>"+access_type+"</span><br>";
  ul += "<span class='text-primary cost'>"+cost+"</span>";
  ul += "</li>";
  ul += "</ul>"
  
  if(depth == 0) $("#explain").append(ul)
  else $("#depth-"+(depth-1)).append(ul);

}
*/
 
function createMessage(msg,class_name){
  var alert = "";
      alert += "<div class='alert "+class_name+"'>";
      alert += "<button type='button' class='close' data-dismiss='alert'>&times;</button>";
      alert += msg;
      alert += "</div>";

      $("#alert-box").append(alert);
}

//쿼리실행 결과 업데이트
function updateResult(results,tables){
  $("#table-list").empty();
  $("#query-result").empty();

  $("#query-result").append(results);
  $("#table-list").append(tables);

}

function initSqlEditor(){
  var editor = CodeMirror.fromTextArea(document.getElementById('edit'), {
           autofocus: true,
            extraKeys: {
                "Tab": "autocomplete"
            },
            hint: CodeMirror.hint.sql,
            lineNumbers: true,
            mode: 'text/x-sql',
            matchBrackets : true,
            smartIndent: true,
            lineWrapping: true,
    });
    editor.on('keyup', function(editor, event){
            console.log(event.keyCode);
            // enter,backspace,세미콜론,위아래 방향키 아니면 자동완성 
            if(event.keyCode!=13 && event.keyCode != 8 && 
              event.keyCode != 186 && event.keyCode!=38 && event.keyCode != 40 && event.keyCode != 32)
              CodeMirror.commands.autocomplete(editor);
    });

    return editor;

}
//외부 접속시 스키마 클릭
    
$(".connect-schema-btn").click(function(){
        $(this).collapse('hide');
        $.ajax({
            type : "GET",
            url : "/connect_schema/{{id}}/"+$(this).text(),
            success : (response) => {
              $("#schema-msg").empty();
              if(response.error_msg != undefined){
                $("#schema-msg").removeClass('alert-info');
                $("#schema-msg").addClass('alert-danger');
                $("#schema-msg").append(response.error_msg);

              }else{
                $("#schema-msg").removeClass('alert-danger');
                $("#schema-msg").addClass('alert-info');
                $("#schema-msg").append(response.msg);

              }
            }
        });
  });


function initAutoComplete() {
  var tables = {}
  $.each($("#table-list li.table-li"),function(idx,li){
      tables[$(li).text()]=[];
  });

  CodeMirror.commands.autocomplete = function (cmeditor) {

      CodeMirror.showHint(cmeditor, CodeMirror.hint.sql, {

          completeSingle: false,
          tables: tables
      });
  }
}




</script>
{% endblock %}