{% extends 'base.html'%}

{% block title %}
  [ Find Id ]
{% endblock %}

{% block header %}
  {% include 'include/_header.html' %}
{% endblock %}
{% block main %}
<div class="box-300">
    <div class="d-flex justify-content-between">
        <!-- <div class="tab-item tab-active" onclick="location.href='{{ url_for('auth.find_id') }}'">아이디 찾기</div>
        <div class="tab-item" onclick="location.href='{{ url_for('auth.find_pw') }}'">비밀번호 찾기</div> -->
      <a class="text-dark font-weight-bold tab-active" href="{{ url_for('auth.find_id') }}">아이디 찾기</a>
      <a class="text-dark font-weight-bold" href="{{ url_for('auth.find_pw') }}">비밀번호 찾기</a>
    </div>
    <h3 class="text-center mt-3">Find Id</h3>
    <form method="POST">
        <input type="email" placeholder="email" class="form-control mt-2"  name="email" required>
        <div class="text-center mt-2">
            <input type="submit" class="btn btn-primary" value="아이디 찾기">
        </div>
    </form>        

</div>
{% endblock %}