{% extends 'base.html' %}

{% block main %}
  <div class="text-right">
    <!--메뉴아이콘-->
    <i class="fa fa-bars fa-2x" data-toggle="drawer" data-target="#drawer-1" aria-hidden="true"></i>
  </div>
  {% include 'include/drawers.html' %}


{% if session.confirmed %}
  <div class="container">
    <div class="border border-secondary border-top-0 border-right-0 border-left-0 container">
      {% if out_dbms_info %}
        <div class="d-flex justify-content-center mb-1 mt-2">
          {% for out_info in out_dbms_info[:3] %}
            <a href="{{ url_for('dbide.execute_query', id=out_info[0])}}" class="card col bg-light ml-2 mr-2 col-sm-3">
              <div class="card-header">
                <p>DBMS : <span>{{ out_info[1] }}</span></p>
                <p>Alias : <span>{{ out_info[4] }}</span></p>
              </div>
              <div class="card-body">
                <p>Host: <span>{{ out_info[2] }}</span></p>
                <p>Port: <span>{{ out_info[3] }}</span></p>
                <p>Schema: <span>{{ out_info[6] }}</span></p>
                <p>User: <span>{{ out_info[5] }}</span></p>
                <p>connect time: <span>{{ out_info[7] }}</span></p>
              </div>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="border border-secondary border-top-0 border-right-0 border-left-0 container">
      <h3 class="mt-2 container text-center">내부 DBMS</h3>
      <div class="row mb-1">
        {% for inner_info in inner_dbms_info %}
          {% if inner_info[1] == 'oracle' %}
            <div class="col text-center">
              <a class="btn btn-danger" href="{{ url_for('dbide.execute_query', id=inner_info[0])}}">Oracle</a>
            </div>
          {% elif inner_info[1] == 'mysql' %}
            <div class="col text-center">
              <a class="btn btn-primary" href="{{ url_for('dbide.execute_query', id=inner_info[0])}}">MySQL</a>
            </div>
          {% elif inner_info[1] == 'maria' %}
            <div class="col text-center">
              <a class="btn btn-info" href="{{ url_for('dbide.execute_query', id=inner_info[0])}}">MariaDB</a>
            </div>
          {% else %}
            <div class="col text-center">
              <a class="btn btn-success" href="{{ url_for('dbide.execute_query', id=inner_info[0])}}">MongoDB</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-md-9 text-center">
          <h3>외부 DBMS 목록</h3>
        </div>
        <div class="col-md-3 text-center">
          <a class="btn btn-primary" href="{{ url_for('dbide.connect_edit_dbms') }}">Connect</a>
        </div>
      </div>
      <div class="container">
        {% if out_dbms_info %}
        <table class="table">
          <thead>
            <tr>
              <th>DBMS</th>
              <th>HOST</th>
              <th>PORT</th>
              <th>ALIAS</th>
              <th>User</th>
              <th>Schema</th>
              <th>Connect Datetime</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              {% for info in out_dbms_info %}
                <tr>
                  <td>
                    <a href="{{ url_for('dbide.execute_query', id=info[0])}}" class="text-primary font-weight-bold">
                      {{ info[1] }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('dbide.execute_query', id=info[0])}}" class="text-primary font-weight-bold">
                      {{ info[2] }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('dbide.execute_query', id=info[0])}}" class="text-primary font-weight-bold">
                      {{ info[3] }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('dbide.execute_query', id=info[0])}}" class="text-primary font-weight-bold">
                      {{ info[4] }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('dbide.execute_query', id=info[0])}}" class="text-primary font-weight-bold">
                      {{ info[5] }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('dbide.execute_query', id=info[0])}}" class="text-primary font-weight-bold">
                      {{ info[6] }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('dbide.execute_query', id=info[0])}}" class="text-primary font-weight-bold">
                      {{ info[7] }}
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-danger" href="{{ url_for('dbide.delete_dbms', id=info[0]) }}">Delete</a>
                  </td>
                  <td>
                    <a class="btn btn-info" href="{{ url_for('dbide.connect_edit_dbms', id=info[0]) }}">Edit</a>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
        {% else %}
          <h4 class="text-center">등록된 외부 DBMS가 존재하지 않습니다.</h4>
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
  <h2>인증되지 않는 계정입니다.</h2>
  <h2>인증하기 위한 절차 메일을 {{email}}로 전송했으니 확인하여 인증절차를 진행해 주세요.</h2>
  <h3>만약 인증 메일이 전송되지 않거나 오류가 발생했다면 아래를 클릭해주세요.</h3>
  <a href="{{ url_for('auth.re_send_email') }}">인증 메일 재전송.</a>
{% endif %}
{% endblock %}