{% extends "base.html" %}

{% block title %}
  [ Sign In ]
{% endblock %}

{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
{% endblock %}

{% block header %}
  <!-- <div class="box-300">
    <h1 class="text-center">Sign In</h1>
  </div> -->
{% endblock %}

{% block main %}
  <div class="box-300">
    <h1 class="text-center mt-3 mb-3">Sign In</h1>
    <form method="POST">
      <div class="input-user">
        <input type="text" name="user_id" id="user_id" class="form-control" placeholder="Input ID" />
      </div>
      <div class="input-user">
        <input type="password" name="user_pw" id="user_pw" class="form-control" placeholder="Input PW" />
      </div>
      <div class="container text-center">
        <input type="submit" name="Sign In" class="btn btn-primary" />
      </div>
    </form>
    <div class="d-flex justify-content-between container">
        <a href="{{ url_for('auth.sign_up') }}">회원가입(Sign UP)</a>
        <a href="{{ url_for('auth.find_id') }}">ID/PW 찾기</a>
    </div>
  </div>
{% endblock %}