{% extends "base.html" %}

{% block title %}
  [ Sign In ]
{% endblock %}

{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
{% endblock %}

{% block header %}
  <h1>Sign In</h1>
{% endblock %}

{% block main %}
  <div>
    <form>
      <div class="input-group input-user">
        <div class="input-group-prepend">
          <span class="input-group-text">Icon</span>
        </div>
        <input type="text" name="user_id" id="user_id" class="form-control" placeholder="Input ID" />
      </div>
      <div class="input-group input-user">
        <div class="input-group-prepend">
          <span class="input-group-text">Icon</span>
        </div>
        <input type="password" name="user_pw" id="user_pw" class="form-control" placeholder="Input PW" />
      </div>
      <div class="container">
        <input type="submit" name="Sign In" id="submit-btn" class="btn btn-primary" />
      </div>
    </form>
    <div class="d-flex justify-content-between container">
        <a href="{{ url_for('auth.sign_up') }}">회원가입(Sign UP)</a>
        <a href="#">ID/PW 찾기</a>
    </div>
  </div>
{% endblock %}